/* Глобальные стили */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;

  &.in-viewport {
    animation: fadeInUp 0.6s forwards;
  }
}

/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Для веб-китов (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикальной полосы прокрутки */
  overflow-y: scroll;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Цвет "ползунка" полосы прокрутки */
  border-radius: 10px; /* Закругление углов "ползунка" */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет "ползунка" при наведении */
}
